h1 {
	text-align: center;
}
.andreas {
	text-align: left;
	color: white;
}
.grid-container {
	display: grid;
	gap: 10px;
	background-color: #144f64;
	padding: 10px;
	grid-auto-flow: row;
	width: min(90%, 75rem);
	margin: 0 auto;
	font-size: 10px;
}

.grid-container > div {
	background-color: #2998c4;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
}
body {
	background-color: #2d80a1;
	font-size: larger;
	height: 200vh;
	font: 15px/1.5 Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color:aquamarine;
}
p {
	text-align: center;
	font-size: large;
}
