.item1 {
	grid-area: header;
}
.item2 {
	grid-area: menu;
}
.item3 {
	grid-area: main;
}
.item4 {
	grid-area: bottom;
}
.item5 {
	grid-area: me;
}
.item6 {
	grid-area: dropdown;
}
.item7 {
	grid-area: container;
}
.grid-container {
	display: grid;
	grid-template-areas:
		"me header header header dropdown dropdown"
		"container container container container container container"
		"menu menu menu menu menu menu"
		"main main main main main main"
		"bottom bottom bottom bottom bottom bottom";
	grid-gap: 10px;
	background-color: rgb(14, 6, 6);
	padding: 10px;
	width: min(100%, 75rem);
	margin: 0 auto;
}

.grid-container > div {
	text-align: left;
	padding: 20px 0;
	font-size: 30px;
	background-color: rgb(255, 255, 255);
}
.dropbtn {
	background-color: #7346ee;
	color: white;
	padding: 28px;
	font-size: 28px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2196f3;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgb(183, 192, 51);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e618e;
}
.item1 {
	background-color: violet;
}
