.h1 {
	font-size: small;
	color: #ffffff;
}
.grid-container {
	display: grid;
	gap: 10px;
	background-color: #74b479;
	padding: 10px;
	grid-auto-flow: row;
	width: min(90%, 75rem);
	margin: 0 auto;
	font-size: 10px;
}

.grid-container > div {
	background-color: #74b479;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
}
body {
	background-color: #74b479;
}
